{% extends "layout.html" %}

{% block title %}Add new player{% endblock %}

{% block content %}
  <h2>Add new player</h2>
  {% if session.user_id %}
  <form action="/create_player" method="post">
    <p>
      Player Name: <br />
      <input type="text" name="name" maxlength="50" required/>
    </p>
    <p>
        Team:
        <select name="team">
            <option value="">(choose a team)</option>
            {% for team in teams %}
            {% if team.owner == session.user_id %}
            <option value="{{ team.id }}">{{ team.team }}</option>
            {% else %}
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create a new player" />
  </form>
  {% endif %}

  {% if not session.user_id %}
  <p>You must be logged in to add a player to the league.</p>
  <p>
    <a href="/register">To registration</a>
  </p>
  {% endif %}
  <p>
    <a href="/">Back</a>
  </p>
{% endblock %}