{% extends "layout.html" %}

{% block title %}Edit {{ team.team }}{% endblock %}

{% block content %}
  <h2>Edit {{ team.team }}</h2>
  <form action="/update_team" method="post">
    <p>
      Team Name: <br />
      <input type="text" name="name" value="{{ team.team }}" maxlength="50" required/>
    </p>
    <p>
        Owner: <br />
        <input type="text" name="owner" value="{{ team.owner }}" required/>
    </p>
    </p>
    <input type="hidden" name="team_id" value="{{ team.id }}" />
    <input type="submit" value="Update team" />
  </form>
  <p>
    <a href="/team/{{ team.id }}">Back</a>
  </p>
{% endblock %}
