{% extends "layout.html" %}

{% block title %}Team search{% endblock %}

{% block content %}
    <h2>Search for a team</h2>
    <form action="/find_team" method="get">
        <p>
            Search for: <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Search">
    </form>

    <p>
        <a href="/">Back</a>
    </p>

    {% if query %}
    <h2>Results</h2>
    <ul>
        {% for result in results %}
        <li><a href="/team/{{ result.id }}">{{ result.team }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
