<!DOCTYPE html>
<html>

<head>
  <title>Fantasy Basketball</title>
</head>

<body>
    <h1>Fantasy Basketball League</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, user id {{ session.user_id }}
  </p>
  {% endif %}


<p>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/logout">Log out</a>
</p>

<p>
    <a href="/add_team">Add Team</a>
</p>

    <h2>Teams in the league</h2
    <ul>
        {% for team in teams %}
        <li><a href="/team/{{ team.id }}">{{ team.team }}</a></li>
        {% endfor %}
    </ul>
    

</body>

</html>
