{% extends "layout.html" %}

{% block title %}{{ team.team }}{% endblock %}

{% block content %}
    <h2>{{ team.team }}</h2>
    {% if session.user_id == team.owner  %}
    <p>
        <a href="/edit_team/{{ team.id }}">Edit team</a>
        <a href="/delete_team/{{ team.id }}">Delete team</a>
    </p>
    {% endif %}
    <h2>Team ID: {{ team.id }}</h2>
    <p>
      Owner: <a href="/user/{{ team.owner }}">{{ owner.username }}</a>
    </p>
    <p>Record: W-L</p>
    {% for player in players %}
    <li><a href="/player/{{ player.id }}">{{ player.player }}</a> <a href="/team/{{ player.team_id }}">{{ player.team }}</a> {{ player.pts }} pts|{{ player.reb }} reb|{{ player.ast }} ast in {{ player.gp }} games played</li>
    {% endfor %}
    <p>
      <a href="/">Back</a>
    </p>
{% endblock %}