{% extends "layout.html" %}

{% block title %}{{ player.player }}{% endblock %}

{% block content %}
    <h2>{{ player.player }}</h2>
    {% if session.user_id == team.owner  %}
    <p>
        <a href="/edit_player/{{ player.id }}">Edit player</a>
        <a href="/delete_player/{{ player.id }}">Delete player</a>
    </p>
    {% endif %}
    <h2>Player ID: {{ player.id }}</h2>
    <p>
      Team: <a href="/team/{{ team.id }}">{{ team.team }}</a>
    </p>
    <p>
      <a href="/">Back</a>
    </p>
{% endblock %}